.loginBox {
    width: 20%;
    // height: 60vh;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10% 10%;

    position: absolute;
    top: 25%; 
    right: 33%;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}